doctype html
html
	head
		
		// Make the page look good on a phone
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		// Stylesheets
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

	body
		block content

		// Scripts
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/javascripts/global.js')

		block scripts